body{
    background-color: darkgray;
}

.container {
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: #dd0b2d;
    border: #88061c 10px solid;
    border-top-width: 20px;
    z-index: 2;
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 3% 12% 40% 20% 20% 5%;
    border-radius: 2%;

}

.divider {
    background-color: #88061c;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0 30px;
}

.stats-display {
    background-color: #9fdab1;
    border-radius: 0%;
    border: 5px solid #e6e6e6;
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 15px;

}

.stats-display ul {
    margin: 10px;
    overflow: auto;
}

.camera-display {
    background-color: #e5f6fc;
    border-radius: 5%;
    border: 30px solid #e6e6e6;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.camera-display img {
    width: 100%;
    height: auto;
    margin-top: 2px;

}

#evo-img{
    margin-top: 2px;
}

#form {
    grid-row-start: 5;
    grid-column-start: 4;
    padding-top: 10px;
}

#search-input{
    padding: 0 10px;
    background-color: #e6e6e6;
    font-family: "Press Start 2P";
    font-size: 18px;
}

#search-btn{
    background-color: #1697f9;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

